﻿@model DemoWebApp.Models.Note

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Note</h1>

<hr />
<div class="row">
    <div class="col-lg-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="ProjectId" class="control-label"></label>
                        <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    foreach (var label in ViewBag.Labels)
                    {
                        <div style="float:left; margin: 10px;">
                            <input type="checkbox"
                                   name="SelectedLabels"
                                   id="@label.Id"
                                   value="@label.Id"
                                   @(Html.Raw(label.IsSelected ? "checked=\"checked\"" : "")) />
                            <label for="@label.Id">@label.Kind</label>
                        </div>
                    }
                    <div style="clear:both;"></div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
