﻿@model PaginatedList<DemoWebApp.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="width: 20%;">
                <a asp-area="Admin" asp-controller="Notes" asp-action="Index" asp-route-sortOrder="@ViewData["DateSort"]">
                    Date
                </a>
            </th>
            <th style="width: 15%;">
                <a asp-area="Admin" asp-controller="Notes" asp-action="Index" asp-route-sortOrder="@ViewData["ProjectSort"]">
                    Project
                </a>
            </th>
            <th style="width: 25%;">
                Title
            </th>
            <th style="width: 25%;">
                Labels
            </th>
            <th style="width: 15%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.CreatedAt.ToString("d MMM yyyy, H:mm")
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.LabelLinks != null)
                {
                <ul>
                    @foreach (LabelLink l in item.LabelLinks)
                    {
                        <li>@(l.Label.Kind)</li>
                    }
                </ul>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="text-center">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
</div>
