﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome to Demo App!</h1>
    <p>There are two roles in this app: Standard users and Administrators. Administrators can add notes, projects, and labels. Standard users can login but they can't see any data (at least, for the time being).</p>
    <h2>Administrator</h2>
    <p>You can log in as administrator with the following credentials:</p>
    <dl>
        <dt>Username:</dt>
        <dd>admin@example.org</dd>
        <dt>Password:</dt>
        <dd>Admin123!</dd>
    </dl>
    <h2>Standard user</h2>
    <p>You can log in as standard user with the following credentials:</p>
    <dl>
        <dt>Username:</dt>
        <dd>user@example.org</dd>
        <dt>Password:</dt>
        <dd>User123!</dd>
    </dl>
</div>
